#datetime-picker,
button {
  margin-bottom: 20px;
}
.timer {
  display: flex;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.timer .value {
  font-size: 2em;
  font-weight: bold;
}
